<div class="container mtop">
    <button class="btn btn-primary" [routerLink]="['/add']" >Agregar</button>
    <table class="table table-striped">
    <thead>
     <tr>
     <th scope="col">Album Id</th>
     <th scope="col">Id</th>
     <th scope="col">Title</th>
     <th scope="col">URL</th>
     <th scope="col">Thumbnail URL</th>
     <th scope="col"></th>
    
     </tr>
    </thead>
    <tbody>
     <tr *ngFor="let item of date" >
      <th scope="row">{{ item.albumId }}</th>
      <td>{{ item.id }}</td>
      <td>{{ item.title }}</td>
      <td><img style="height: 100px; width: 100px;"ng src="{{ item.url }}"/></td>
      <td><img  style="height: 100px; width: 100px;" ng src="{{ item.thumbnailUrl }}"/></td>
      <td>
       <a [routerLink]="['/detail', item.id]">Detalle</a>
      </td>
      
      
     </tr>
    </tbody>
    </table>
    </div>


